.App {
  text-align: center;
}

h1 {
  font-size: 36.62px;
}

h2 {
  font-size: 29.30px;
}

h3 {
  font-size: 23.44px;
}

h4 {
  font-size: 18.75px;
}

p {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

.content {
  max-width: 98%;
  margin-left: 1%;
}

@media only screen and (max-device-width: 900px) {
  .content {
    max-width: 90% !important;
    margin-left: 5%;
  }

  .raffleBox {
    flex-direction: column;
  }

  .raffleBox img {
    max-width: 90% !important;
    margin-left: 5%;
  }

  .hero {
    visibility: hidden;
    display: none !important;
  }

  .raffleHeading {
    margin-bottom: 0px;
  }

  .raffleBox h4 {
    margin-block-start: 0px !important;
  }

  .raffleTextBox {
    width: 80% !important;
  }
}

html,
body {
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  background-color: rgba(0, 0, 107, 0.08);
}

body {
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}